<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="img/fav.png" />
    <meta name="author" content="CodePixar" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>E-scrunch</title>

    <link rel="stylesheet" href="/user-assets/css/linearicons.css" />
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="/user-assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/user-assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user-assets/css/nice-select.css" />
    <link rel="stylesheet" href="/user-assets/css/nouislider.min.css" />
    <link rel="stylesheet" href="/user-assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/user-assets/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="/user-assets/css/userprofile.css" />

    <!-- Add Bootstrap CSS (place this in the <head> section) -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Add Bootstrap JavaScript (place this at the end of the <body> section, just before </body>) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header class="header_area sticky-header">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
          <div class="container">
            <a class="navbar-brand logo_h" href="/home"
              ><img src="img/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home" style="color: #ff1493"
                    >Home</a
                  >
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="color: #ff1493"
                    >Products</a
                  >

                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/products"
                        style="color: #ff1493"
                        >Products</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/productdetails"
                        style="color: #ff1493"
                        >Product Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/checkout"
                        style="color: #ff1493"
                        >Product Checkout</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart" style="color: #ff1493"
                        >Shopping Cart</a
                      >
                    </li>
                  </ul>
                </li>
                <!-- <li class="nav-item submenu dropdown">
                  <a href="/cart" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Blog</a>
                </li> -->
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="color: #ff1493"
                    >Account</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/userprofile"
                        style="color: #ff1493"
                        >My profile</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/myorders"
                        style="color: #ff1493"
                        >My Orders</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/wallet" style="color: #ff1493"
                        >My wallet</a
                      >
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="tracking.html" style="color: #ff1493;">Tracking</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="elements.html" style="color: #ff1493;">Elements</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="/logout" style="color: #ff1493;">Logout</a>
                    </li> -->
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html" style="color: #ff1493"
                    >Contact</a
                  >
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li
                  class="nav-item"
                  style="display: inline-block; margin-right: 2px"
                >
                  <a
                    href="/cart"
                    class="cart"
                    style="
                      text-decoration: none;
                      padding: 1px 2px;
                      font-size: 16px;
                      cursor: pointer;
                      color: #ff1493;
                    "
                  >
                    <span class="ti-bag"></span>
                  </a>
                </li>
                <!-- <li class="nav-item" style="display: inline-block; margin-right: 2px;">
                  <button class="search" style="background: transparent; border: none; cursor: pointer; padding: 1px 2px; font-size: 16px; color: #ff1493;">
                    <span class="lnr lnr-magnifier" id="search"></span>
                  </button>
                </li> -->
                <li class="nav-item" style="display: inline-block">
                  <div class="dropdown">
                    <button
                      class="user-button"
                      id="userButton"
                      style="
                        background: transparent;
                        border: none;
                        cursor: pointer;
                        padding: 1px 2px;
                      "
                    >
                      <img
                        src="/user-assets/img/usericon.png"
                        alt="User Icon"
                        id="user-icon"
                        style="width: 40px; height: 40px; border-radius: 50%"
                      />
                    </button>
                    <ul
                      class="dropdown-menu"
                      id="dropdownMenu"
                      style="color: #ff1493"
                    >
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="/logout"
                          style="color: #ff1493"
                          >Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="container">
      <div>
        <h2
          class="content-title card-title"
          style="
            margin-left: 320px;
            margin-bottom: 30px;
            color: #ff1493;
          "
        >
          Orders
        </h2>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
      </table>
      <!-- Your order details section code goes here -->
      <div class="row">
        <div class="col-12">
          <% orders.forEach(function(item) { %>
            <% if (item.items.length > 0) { %>
              <div class="border border-2 p-3 mb-4">
                <a href="/orderdetails/<%= item._id %>"></a>
                <div class="order-details">
                  <% item.items.forEach(function(product) { %>
                    <div class="row">
                      <div class="col-2">
                        <img
                          src="/uploadProductImages/<%= product.product.image[0] %>"
                          class="img-thumbnail"
                          alt="Item"
                        />
                      </div>
                      <div class="col-3"><%= product.product.productname %></div>
                      <div class="col-2 text-right"><%= product.quantity %></div>
                      <div class="col-2 text-right"><%= product.price %></div>
                    </div>
                  <% }); %>
                  <div class="row">
                    <div class="col-12 text-right" style="text-align: center;">
                      <a
                        href="/orderdetails/<%= item._id %>"
                        class="btn btn-primary btn-sm"
                        style="float: right"
                      >
                        View Details
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          <% }); %>
        </div>
      </div>
      <!-- view details button in the inner loop -->
      
      <!-- End Your order details section -->
    </div>
  </body>
</html>
