









<div class="container">
    <div class="row">


        <!-- Start Filter Bar -->
        <div class="filter-bar d-flex flex-wrap align-items-center"
            style="background: #fff; padding: 15px; border: 1px solid #e0e0e0; border-radius: 7px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); margin-top: 10px;">
            <div class="sorting">
                <span style="color: rgb(8, 8, 8); font-size: 30px;">Search Results</span>

                </select>
            </div>

        </div>
        <!-- End Filter Bar -->
        <!-- Start Best Seller -->
        <br>


        <!-- search results,below -->
        <!-- trying with prdt lists code -->

        <section class="lattest-product-area pb-40 category-list">
            <div class="row">
                <!-- single product -->
                <!--  -->
                <% if (results.length===0) { %>
                    <p>No results found for '<%= query %>'</p>
                    <% } else { %>
                        <% results.forEach(function(product) { %>
                            <% if (product.status==='Listed' ) { %>
                                <div class="col-lg-4 col-md-6">

                                    <div class="single-product">

                                        <img class="img-fluid" src="/uploadProductImage/<%= product.image[0] %>"
                                            alt="">
                                        <div class="product-details">
                                            <h6>
                                                <%= product.productname %>
                                            </h6>
                                            <div class="price">
                                                <h6>Rs <%= product.price %>
                                                </h6>
                                                <h6 class="l-through">
                                                    <%= product.mrp %>
                                                </h6>
                                            </div>
                                            <div class="prd-bottom">
                                                <a href="" class="social-info">
                                                    <span class="lnr lnr-heart"></span>
                                                    <p class="hover-text">Wishlist</p>
                                                </a>
                                                <a href="/productdetails/<%= product._id %>" class="social-info">
                                                    <span class="ti-layers"></span>
                                                    <p class="hover-text">compare</p>
                                                </a>
                                                <a href="/productdetails/<%= product._id %>?timestamp=<%= Date.now() %>"
                                                    class="social-info">
                                                    <span class="ti-more-alt"></span>
                                                    <p class="hover-text">view more</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <% }); %>
                                        <% } %>

            </div>
        </section>

        <!-- search results ,above-->

        <!-- Start Filter Bar -->

        <!-- my pagination code below -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% for(let i=1; i<=totalPages;i++) { %>
                        <% if(i===currentPage){ %>
                            <li class="page-item active"><a class="page-link" href="#">
                                    <%= i %>
                                </a></li>
                            <% } else { %>
                                <li class="page-item"><a class="page-link" href="/products?page=<%= i %>">
                                        <%= i %>
                                    </a></li>
                                <% } %>
                                    <% } %>
                </ul>
            </nav>
        </div>




        <!-- my pagination code ends here -->
    </div>
    <!-- End Filter Bar -->



</div>
</div>