

<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="img/fav.png" />
    <meta name="author" content="CodePixar" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>E-scrunch</title>

    <link rel="stylesheet" href="/user-assets/css/linearicons.css" />
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="/user-assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/user-assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user-assets/css/nice-select.css" />
    <link rel="stylesheet" href="/user-assets/css/nouislider.min.css" />
    <link rel="stylesheet" href="/user-assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/user-assets/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    
    
  </head>

  <body>
    <header class="header_area sticky-header">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
          <div class="container">
            <a class="navbar-brand logo_h" href="/home"><img src="img/logo.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home" style="color: #ff1493;">Home</a>
                </li>
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false" style="color: #ff1493;">Products</a>
              
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/products" style="color: #ff1493;">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/productdetails" style="color: #ff1493;">Product Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/checkout" style="color: #ff1493;">Product Checkout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart" style="color: #ff1493;">Shopping Cart</a>
                    </li>
                  </ul>
                </li>
                <!-- <li class="nav-item submenu dropdown">
                  <a href="/cart" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">Blog</a>
                </li> -->
                <li class="nav-item submenu dropdown active">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false" style="color: #ff1493;">Account</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/userprofile" style="color: #ff1493;">My profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/myorders" style="color: #ff1493;">My Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/wallet" style="color: #ff1493;">My wallet</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="tracking.html" style="color: #ff1493;">Tracking</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="elements.html" style="color: #ff1493;">Elements</a>
                    </li> -->
                    <!-- <li class="nav-item">
                      <a class="nav-link" href="/logout" style="color: #ff1493;">Logout</a>
                    </li> -->
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact" style="color: #ff1493;">Contact</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" style="display: inline-block; margin-right: 2px;">
                  <a href="/cart" class="cart" style="text-decoration: none; padding: 1px 2px; font-size: 16px; cursor: pointer; color: #ff1493;">
                    <span class="ti-bag"></span>
                  </a>
                </li>
                <li class="nav-item" style="display: inline-block; margin-right: 2px;">
                  <button class="search" style="background: transparent; border: none; cursor: pointer; padding: 1px 2px; font-size: 16px; color: #ff1493;">
                    <span class="lnr lnr-magnifier" id="search"></span>
                  </button>
                </li>
                <li class="nav-item" style="display: inline-block;">
                  <div class="dropdown">
                    <button class="user-button" id="userButton" style="background: transparent; border: none; cursor: pointer; padding: 1px 2px;">
                      <img src="/user-assets/img/usericon.png" alt="User Icon" id="user-icon" style="width: 40px; height: 40px; border-radius: 50%;">
                    </button>
                    <ul class="dropdown-menu" id="dropdownMenu" style="color: #ff1493;">
                      <li class="nav-item">
                        <a class="nav-link " href="/logout" style="color: #ff1493;">Logout</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

  <!-- Start Banner Area -->
  <!-- <section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1 style="background-color: black; color: white; padding: 10px;">Coupons</h1>

        </div>
      </div>
    </div>
  </section> -->
  <!-- End Banner Area -->



  <div class="container" style="margin-top: 150px;">
    <h2 class="content-title card-title" style="margin-left: 500px; margin-bottom: 30px;    color: #ff1493;">COUPON</h2>
    <hr style="border-color: #000; margin-top: 50px;">

    <% if (!coupons || coupons.length === 0 ){ %>
      <div class="container-fluid mt-100">
        <div class="row">
          
          <div class="col-md-12 text-center">
            <div class="card"
              style="background-color: #f2f2f2; border: none; border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);">
              <div class="card-body text-center">
                <h3 style="color: #1c1c1c; font-size: 24px;"><strong>You have no coupons!</strong></h3>
                <!-- Add a button to go back to checkout with empty couponId -->
                <a href="/checkout?couponCode=&discountAmount=0&couponId=" class="btn btn-primary">Go Back to Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="row">
        <% coupons.forEach(function(item) { %>
          
          <div class="col-md-6">
            <div class="card"
                style="background: #fff; border: 1px solid #e0e0e0; border-radius: 7px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="card-body text-center">
                    <h2 class="couponcode bg-light"
                        style="font-size: 18px; padding: 10px; border-radius: 10px 10px 0 0; color: grey;">
                        <b><%= item.code %></b>
                    </h2>
                    <p class="description" style="font-size: 14px; margin-top: 15px; color: #000;">
                        <%= item.description %>
                    </p>
                    <p class="discountAmount" style="font-size: 16px; color: #000;">
                        Discount Amount: Rs.<span class="discountAmount1"><%= item.discountAmount.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span>
                    </p>
                    <p class="expire " style="font-size: 14px; color: #000;">
                        Coupon Expiry: <%= new Date(item.expirationDate).toLocaleDateString(undefined, { month: 'short', day: 'numeric', year: 'numeric' }) %>
                    </p>
                    <a class="apply-coupon-button btn btn-warning"
                        href="/checkout?couponCode=<%= item.code %>&discountAmount=<%= item.discountAmount %>&couponId=<%= item._id %>"
                        style="background-color: #ff1493; color: #fff; text-transform: uppercase; border: none; border-radius: 10px; font-weight: bold; padding: 10px 20px; margin-top: 20px; text-decoration: none;">Apply Coupon</a>
                </div>
            </div>
        </div>
        
            <%  %>
        <% }); %>
      </div>
    <% } %>
  </div>
  


  <br> <br>
