<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="img/fav.png" />
    <meta name="author" content="CodePixar" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>E-scrunch</title>

    <link rel="stylesheet" href="/user-assets/css/linearicons.css" />
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="/user-assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/user-assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user-assets/css/nice-select.css" />
    <link rel="stylesheet" href="/user-assets/css/nouislider.min.css" />
    <link rel="stylesheet" href="/user-assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/user-assets/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    
  </head>

  <body>
    <header class="header_area sticky-header fixed-top" style="z-index: 1000;">

      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box" style="width: 1200px;">
           <div class="container" style="margin: 0;">
            <a class="navbar-brand logo_h" href="/home"><img src="img/logo.png" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home" style="color: #ff1493;">Home</a>
                </li>
                <li class="nav-item submenu dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false" style="color: #ff1493;">Products</a>
              
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/products" style="color: #ff1493;">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/productdetails" style="color: #ff1493;">Product Details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/checkout" style="color: #ff1493;">Product Checkout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart" style="color: #ff1493;">Shopping Cart</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item submenu dropdown active">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false" style="color: #ff1493;">Account</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link" href="/userprofile" style="color: #ff1493;">My profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/myorders" style="color: #ff1493;">My Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/wallet" style="color: #ff1493;">My wallet</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact" style="color: #ff1493;">Contact</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" style="display: inline-block; margin-right: 2px;">
                  <a href="/cart" class="cart" style="text-decoration: none; padding: 1px 2px; font-size: 16px; cursor: pointer; color: #ff1493;">
                    <span class="ti-bag"></span>
                  </a>
                </li>
                <li class="nav-item" style="display: inline-block;">
                  <div class="dropdown">
                    <button class="user-button" id="userButton" style="background: transparent; border: none; cursor: pointer; padding: 1px 2px;">
                      <img src="/user-assets/img/usericon.png" alt="User Icon" id="user-icon" style="width: 40px; height: 40px; border-radius: 50%;">
                    </button>
                    <ul class="dropdown-menu" id="dropdownMenu" style="color: #ff1493;">
                      <li class="nav-item">
                        <a class="nav-link " href="/logout" style="color: #ff1493;">Logout</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Start Banner Area -->
    <!-- <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 style="background-color: black; color: white; padding: 10px;">Wishlist</h1>
                    <nav class="d-flex align-items-center">

                    </nav>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End Banner Area -->
    <section class="features-area section_gap" style="background-image: url('/user-assets/img/section\ background\ 1.jpg'); background-size: auto; background-position: center;margin-top: 100px;">
      <div class="container">
        <h1>Wishlist </h1>
        <div class="row features-inner">
          <!-- Your content here -->
        </div>
      </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <% if (wishlist.products.length> 0) { %>
                        <table class="table">
                            <thead style="background-color: #f5f5f5;">
                                <tr>
                                    <th scope="col" style="font-weight: bold;">Product</th>
                                    <th scope="col" style="font-weight: bold;">Price</th>
                                    <th scope="col" style="font-weight: bold;">Add to Cart</th>
                                    <th scope="col" style="font-weight: bold;">Availability</th>
                                    <th scope="col" style="font-weight: bold;">Remove</th>
                                </tr>
                            </thead>

                            <% wishlist.products.forEach(function (item) { %>

                                <tr class="cartPrice" data-price="<%= item.product.price %>"
                                    data-id="<%= item.product._id %>"
                                    style="background-color: #f9f9f9; border-bottom: 1px solid #ddd;">
                                    <td class="align-middle">
                                        <img src="/uploadProductImages/<%= item.product.image[0] %>" alt=""
                                            style="width: 50px;">
                                        <%= item.product.productname %>
                                    </td>
                                    <td class="align-middle price">
                                        <%= item.product.price.toFixed(2) %>
                                    </td>
                                    <td>
                                        <% if (item.product.stock!==0) { %>
                                            <div class="card_area d-flex align-items-center">
                                                <p id="addtocartId" value="<%= item.product._id %>" hidden></p>
                                                <button class="primary-btn"
                                                    onclick="buttonclick('<%= item.product._id %>')" id="addtocart"
                                                    href="#" style="margin-bottom: 30px; margin-top: 20px;background: linear-gradient(90deg, #ff1493,#13a4d4); color: white; ">Add to
                                                    Cart</button>
                                            </div>
                                            <% } else { %>
                                                <span style="color: rgb(0, 0, 0); font-size: larger;"></span>
                                                <% } %>
                                    </td>
                                    <td class="align-middle price">
                                        <% if (item.product.stock===0) { %>
                                            <span style="color: red; font-size: larger; white-space: nowrap;">Out of
                                                Stock</span>
                                            <% } else { %>
                                                <span style="color: rgb(17, 194, 55); font-size: larger;">In
                                                    Stock</span>
                                                <% } %>
                                    </td>
                                    <td class="align-middle">
                                        <button class="btn btn-sm btn-danger"
                                            onclick="deleteItem('<%= wishlist._id %>', '<%= item.product._id %>')"
                                            style="background-color: #000000; color: #fff; border: none; border-radius: 5px;">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>

                                <% }); %>

                        </table>
                        <% } else { %>
                            <div class="empty-wishlist"
                                style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
                                <img src="/img/wishlist.png" alt="Heartbreak Image" class="heartbreak-image"
                                    style="max-width: 500px; margin-bottom: 20px;">
                                <a href="/home" class="empty-message-link"
                                    style="display: inline-block; padding: 10px 20px; background-color: #0f0f0f; color: #fff; text-decoration: none; border: none; border-radius: 5px; font-weight: bold; transition: background-color 0.3s;">Go
                                    back to the home page</a>
                            </div>

                            <% } %>
                </div>
            </div>

            <div class="modal" id="addToCartModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="text-center">
                      <img
                        src="/user-assets/img/cartsuccess.png"
                        alt="Success Icon"
                        width="80"
                      />
                    </div>
                    <h4 class="text-center mt-3">Product Added to Cart!</h4>
                    <p class="text-center">
                      You've successfully added the product to your shopping cart.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            


            <!-- container -->
        </div>
    </section>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<!-- footer -->

        <script>
            function deleteItem(wishlistId, productId) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // If the user confirms the action, perform the deletion
                        window.location.href = `/wishlist/${wishlistId}/product/${productId}`;
                    }
                });
            }
        </script>

<script>
function buttonclick(event, productId) {
  event.preventDefault(); // Prevent default anchor behavior
  
  $.ajax({
      url: '/addtowishlist', // Correct URL for the addToWishlist POST route
      method: 'post', // Use the 'POST' method
      data: {
          productId: productId, // Pass the productId parameter
      },
      success: function (response) {
          // Show SweetAlert success message
          Swal.fire({
              icon: 'success',
              title: 'Success',
              text: 'Product has been added to your wishlist!',
          });
      },
      error: function (error) {
          // Handle any errors if needed
          Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Something went wrong!',
          });
      }
  });
}

</script>


        
<style>
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
  }
</style>


        <script>

const addToCartModal = document.getElementById("addToCartModal");
const myButton = document.getElementById("addtocart");

            function buttonclick(id) {
              console.log(id)
                // Display the custom modal
                $('#addToCartModal').modal('show');

                // Perform your AJAX request here
                $.ajax({
                    url: '/addtocart',
                    method: 'post',
                    data: {
                        productId: id,
                        quantity: 1,
                    },
                    success: function (response) {
                        // Handle the success response if needed

                    },
                    error: function (error) {
                        // Handle any errors if needed
                    }
                });
            }

           


myButton.addEventListener("click", function (e) {
  console.log("clicked on add to cart button ");
  addToCartModal.style.display = "block";
  setTimeout(() => {
    addToCartModal.style.display = "none";
  }, 2000);
});


        </script> 

<!-- <script>
  function buttonclick(id) {
      // Display the custom modal
      $('#addToCartModal').modal('show');

      // Perform your AJAX request here
      $.ajax({
          url: '/addtocart',
          method: 'post',
          data: {
              productId: id,
              quantity: 1,
          },
          success: function (response) {
              // Handle the success response if needed

          },
          error: function (error) {
              // Handle any errors if needed
          }
      });
  }

</script> -->

        <style>
            /* Apply responsive styles to the table */
            @media (max-width: 768px) {
                .table-responsive table {
                    display: block;
                    width: 100%;
                }

                .table-responsive table tr {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    /* Adjust the spacing between rows */
                }

                .table-responsive table td {
                    display: block;
                    text-align: center;
                    /* Center the table data on smaller screens */
                }
            }
        </style>
        </body>