<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="img/fav.png" />
    <meta name="author" content="CodePixar" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>E-scrunch</title>

    <link rel="stylesheet" href="/user-assets/css/linearicons.css" />
    <link rel="stylesheet" href="/user-assets/css/owl.carousel.css" />
    <link rel="stylesheet" href="/user-assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/user-assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/user-assets/css/nice-select.css" />
    <link rel="stylesheet" href="/user-assets/css/nouislider.min.css" />
    <link rel="stylesheet" href="/user-assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/user-assets/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="/user-assets/css/userprofile.css" />

    <!-- Add Bootstrap CSS (place this in the <head> section) -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Add Bootstrap JavaScript (place this at the end of the <body> section, just before </body>) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>

  <body>
    <header class="header_area sticky-header">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
          <div class="container">
            <a class="navbar-brand logo_h" href="/home"
              ><img src="img/logo.png" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/home" style="color: #ff1493"
                    >Home</a
                  >
                </li>
                <li class="nav-item submenu dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="color: #ff1493"
                    >Products</a
                  >

                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/products"
                        style="color: #ff1493"
                        >Products</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/productdetails"
                        style="color: #ff1493"
                        >Product Details</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/checkout"
                        style="color: #ff1493"
                        >Product Checkout</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cart" style="color: #ff1493"
                        >Shopping Cart</a
                      >
                    </li>
                  </ul>
                </li>
                <!-- <li class="nav-item submenu dropdown">
                    <a href="/cart" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">Blog</a>
                  </li> -->
                <li class="nav-item submenu dropdown active">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="color: #ff1493"
                    >Account</a
                  >
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/userprofile"
                        style="color: #ff1493"
                        >My profile</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        href="/myorders"
                        style="color: #ff1493"
                        >My Orders</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/wallet" style="color: #ff1493"
                        >My wallet</a
                      >
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="tracking.html" style="color: #ff1493;">Tracking</a>
                      </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="elements.html" style="color: #ff1493;">Elements</a>
                      </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: #ff1493;">Logout</a>
                      </li> -->
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html" style="color: #ff1493"
                    >Contact</a
                  >
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li
                  class="nav-item"
                  style="display: inline-block; margin-right: 2px"
                >
                  <a
                    href="/cart"
                    class="cart"
                    style="
                      text-decoration: none;
                      padding: 1px 2px;
                      font-size: 16px;
                      cursor: pointer;
                      color: #ff1493;
                    "
                  >
                    <span class="ti-bag"></span>
                  </a>
                </li>
                <!-- <li class="nav-item" style="display: inline-block; margin-right: 2px;">
                    <button class="search" style="background: transparent; border: none; cursor: pointer; padding: 1px 2px; font-size: 16px; color: #ff1493;">
                      <span class="lnr lnr-magnifier" id="search"></span>
                    </button>
                  </li> -->
                <li class="nav-item" style="display: inline-block">
                  <div class="dropdown">
                    <button
                      class="user-button"
                      id="userButton"
                      style="
                        background: transparent;
                        border: none;
                        cursor: pointer;
                        padding: 1px 2px;
                      "
                    >
                      <img
                        src="/user-assets/img/usericon.png"
                        alt="User Icon"
                        id="user-icon"
                        style="width: 40px; height: 40px; border-radius: 50%"
                      />
                    </button>
                    <ul
                      class="dropdown-menu"
                      id="dropdownMenu"
                      style="color: #ff1493"
                    >
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="/logout"
                          style="color: #ff1493"
                          >Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Start Banner Area -->
    <!-- <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/cart">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section> -->
    <!-- End Banner Area -->

    <% let totalPriceSum = 0 %> <% if(cart.products.length==0) { %>
    <div class="container-fluid" style="margin-top: 100px">
      <div class="row px-xl-5">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body cart">
              <div class="col-sm-12 empty-cart-cls text-center">
                <img
                  src="https://i.imgur.com/dCdflKN.png"
                  width="100"
                  height="130"
                  class="img-fluid mb-4 mr-3"
                />
                <h3><strong>Don't leave your cart feeling lonely!</strong></h3>
                <h4>Explore our accessories and watch your style bloom</h4>
                <a
                  href="/products"
                  class="btn btn-primary cart-btn-transform m-3"
                  data-abc="true"
                  style="background-color: #ff1493"
                  >Continue shopping</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% } else { %>

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table">
                      <thead style="background-color: #f5f5f5;">
                          <tr>
                              <th scope="col" style="font-weight: bold;">Product</th>
                              <th scope="col" style="font-weight: bold;">Price</th>
                              <th scope="col" style="font-weight: bold;">Quantity</th>
                              <th scope="col" style="font-weight: bold;">Total</th>
                              <th scope="col" style="font-weight: bold;">Availability</th>
                              <th scope="col" style="font-weight: bold;">Remove</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% cart.products.forEach(function(item) { %>
                              <% let totalPrice = item.price * item.quantity; %>
                              <tr class="cartPrice" data-price="<%= item.price %>"
                                  data-id="<%= item.product._id %>"
                                  data-stock="<%= item.product.stock %>">
                                  <td class="align-middle">
                                    <% if (item.product.image && item.product.image.length > 0) { %>
                                        <img src="/uploadProductImages/<%= item.product.image[0] %>" alt="" style="width: 50px;">
                                    <% } %>
                                    <%= item.product.productname %>
                                </td>
                                
                                  <td class="align-middle price">
                                      <%= item.price.toFixed(2) %>
                                  </td>
                                  <td>
                                      <div class="product_parent d-inline-block position-relative">
                                          <input type="text" name="qty" maxlength="1" value="<%= item.quantity %>"
                                              title="Quantity:" class="input-text qty inputQuantity"
                                              style="width: 50px; height: 40px;" readonly>
                                          <button onclick='incFunction(this)'
                                              class="increase items-count position-absolute"
                                              style="top: 0; right: 0; background-color: #ff1493; color: #fff; border: none; border-radius: 5px;"
                                              type="button"><i class="lnr lnr-chevron-up"></i></button>
                                          <button onclick='decFunction(this)'
                                              class="reduced items-count position-absolute"
                                              style="bottom: 0; right: 0; background-color: #ff1493; color: #fff; border: none; border-radius: 5px;"
                                              type="button"><i class="lnr lnr-chevron-down"></i></button>
                                      </div>
                                  </td>
                                  <td class="align-middle total-price">
                                      <%= totalPrice.toFixed(2) %>
                                  </td>
                                  <td class="stock">
                                      <% if (item.product.stock === 0) { %>
                                          <p style="color: red; font-size: larger; white-space: nowrap;">Out of Stock</p>
                                      <% } else if (item.product.stock === 2) { %>
                                          <p style="color: rgb(220, 152, 26);">Only 2 left!</p>
                                      <% } else if (item.product.stock === 1) { %>
                                          <p style="color: rgb(219, 149, 8);"> Only 1 left!</p>
                                      <% } else { %>
                                          <p style="color: rgb(17, 194, 55); font-size: larger;">In Stock</p>
                                      <% } %>
                                  </td>
                                  <td class="align-middle">
                                      <button class="btn btn-sm btn-danger"
                                          onclick="deleteItem('<%= cart._id %>', '<%= item.product._id %>')"
                                          style="background-color: #ff1493; color: #fff; border: none; border-radius: 5px;">
                                          <i class="fa fa-times"></i>
                                      </button>
                                  </td>
                              </tr>
                          <% }); %>
                          <tr class="bottom_button">
                              <td colspan="5"></td>
                          </tr>
                          <tr>
                              <td colspan="2"></td>
                              <td>
                                <h5>Subtotal</h5>
                            </td>
                    
                            <td>
                                <h5 class="total-price-sum">
                                    Rs.<%= totalPriceSum.toFixed(2) %>
                                </h5>
                            </td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="checkout_btn_inner d-flex align-items-center">
                  <a class="gray_btn" href="/home"
                      style="background: linear-gradient(90deg, #ff1493, #ffffff); border: none; border-radius: 30px; margin-right: 20px; color: white; transition: background 0.3s;">
                      Continue Shopping
                  </a>
                  <a class="gray_btn" href="/checkout"
                      style="background: linear-gradient(90deg, #ffffff, #ff1493); border: none; border-radius: 30px; color: white; transition: background 0.3s;">
                      Proceed to Buy
                  </a>
              </div>
          </div>
          <% } %>
      </div>
  </section>
  

    <!--================End Cart Area =================-->

   
<!-- quantity -->



<script>

  ///////////////script for the total price to show in the cart///////////////////////////////////////////
  function updateTotalPriceSum() {
      let totalPriceSum = 0;
      const cartItems = document.querySelectorAll('.cartPrice');

      cartItems.forEach(function (item) {
          let price = parseFloat(item.getAttribute('data-price'));
          let quantity = parseInt(item.querySelector('.inputQuantity').value);
          totalPriceSum += price * quantity;
      });

      // Update the displayed total price
      const totalPriceSumElement = document.querySelector('.total-price-sum');
      if (totalPriceSumElement) {
          totalPriceSumElement.innerText = 'Rs.' + totalPriceSum.toFixed(2);
      }
  }




  /////////////script for increase and decrease quantity of the product in cart///////////////////////////////////////////
  function incFunction(e) {
      let parent = e.closest('.cartPrice');
      let qty = parent.querySelector('.inputQuantity');
      let productId = parent.getAttribute('data-id');
      let stock = parent.getAttribute('data-stock'); // Get the stock value

      if (stock > 0) {
          let quantity = parseInt(qty.value) + 1;

          if (quantity <= stock) {
              // Update the UI
              qty.value = quantity;
              let price = parent.getAttribute('data-price');
              let total = parent.querySelector('.total-price');
              total.innerText = (price * quantity).toFixed(2);

              // Call the addToCart function to update the cart
              addToCart(productId, quantity);
              updateTotalPriceSum();
          } else {
              Swal.fire({
                  icon: 'info',
                  title: 'Max Qty is ' + stock,
                  showConfirmButton: true,
              });
          }
      }
  }
  function decFunction(e) {
      let parent = e.closest('.cartPrice');
      let qty = parent.querySelector('.inputQuantity');
      let productId = parent.getAttribute('data-id');
      let stock = parent.getAttribute('data-stock'); // Get the stock value

      if (stock > 0) {
          let quantity = parseInt(qty.value) - 1;

          if (quantity > 0) {
              // Update the UI
              qty.value = quantity;
              let price = parent.getAttribute('data-price');
              let total = parent.querySelector('.total-price');
              total.innerText = (price * quantity).toFixed(2);

              // Call the addToCart function to update the cart
              addToCart(productId, quantity);
              updateTotalPriceSum();
          }
      }
  }





  /////////////script for add to cart//////////////////////////////////////
  async function addToCart(productId, quantity) {
      try {
          // Send a request to your server to update the cart
          const response = await fetch('/updatecart', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  productId,
                  quantity,
              }),
          });

          if (response.ok) {
              const data = await response.json();
              if (data.success) {
                  // Cart updated successfully
                  console.log('Cart updated successfully');
              } else {
                  console.error('Failed to update cart');
              }
          } else {
              console.error('Failed to update cart');
          }
      } catch (error) {
          console.error('Error:', error);
      }
  }


  /////////////////////////////////////////////////////sweet alert for deleting the product in the cart//////////////////////

  function deleteItem(cartId, productId) {
      Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
          if (result.isConfirmed) {
              // If the user confirms the action, perform the deletion
              window.location.href = `/cart/${cartId}/product/${productId}`;
          }
      });
  }

</script>

<style>
  /* Apply responsive styles to the table */
  @media (max-width: 768px) {
      .table-responsive table {
          display: block;
          width: 100%;
      }

      .table-responsive table tr {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          /* Adjust the spacing between rows */
      }

      .table-responsive table td {
          display: block;
          text-align: center;
          /* Center the table data on smaller screens */
      }
  }
</style>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


  const displayCount = document.querySelectorAll(".incrementdecrement");
  const totalpricesum = document.querySelector(".total-price-sum");
  const priceaftercoupon = document.querySelector(".price-after-coupon");
  
  displayCount.forEach((item) => {
    const decBtn = item.querySelector(".dec-btn");
    const incBtn = item.querySelector(".inc-btn");
    const inputQuantity = item.querySelector(".inputQuantity");
    const price = item.querySelector(".price");
    const totalprice = item.querySelector(".total-price");
    const productId = item.getAttribute("data-id");
  
    incBtn.addEventListener("click", () => {
      let qty = Number(inputQuantity.textContent);
  
      if (qty < 10) {
        inputQuantity.textContent = ++qty;
        totalprice.textContent = (price.textContent * qty).toFixed(2);
        console.log(
          "Product id and qty kn incBtn fucntion--",
          productId,
          qty
        );
        updatetotalpricesum();
        updateQuantity(productId, qty);
      }
    });
  
    decBtn.addEventListener("click", () => {
      let qty = inputQuantity.textContent;
      if (qty > 1) {
        inputQuantity.textContent = --qty;
        totalprice.textContent = (price.textContent * qty).toFixed(2);
        console.log(
          "Product id and qty in decBtn fucntion--",
          productId,
          qty
        );
        updatetotalpricesum();
        updateQuantity(productId, qty);
      }
    });
  });
  
  function updatetotalpricesum() {
    let sum = 0;
    displayCount.forEach((item) => {
      const totalprice = item.querySelector(".total-price");
      sum += Number(totalprice.textContent);
    });
    totalpricesum.textContent = sum.toFixed(2);
    console.log("Total Price Sum:", sum.toFixed(2));
  }
  
  function updateQuantity(productId, quantity) {
    fetch("/updatecart", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ productId, quantity }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => {
        console.log("Update Quantity Response:", data);
      })
      .catch((error) => {
        console.error("Error updating quantity:", error);
      });
  }
  </script>
    <!-- Include this script at the bottom of your page or in your script section -->
    <script>
      $(document).ready(function () {
          $(".btn-minus").on("click", function () {
              updateQuantity($(this), -1);
          });
  
          $(".btn-plus").on("click", function () {
              updateQuantity($(this), 1);
          });
      });
  
      function updateQuantity(button, delta) {
          let parent = button.closest('.incrementdecrement');
          let qty = parent.find('.inputQuantity');
          let productId = parent.data('id');
          let stock = parent.data('stock');
  
          console.log("Stock:", stock); // Add this line for debugging
  
          // Ensure stock is a valid number, fallback to 10 if undefined
          stock = isNaN(stock) ? 10 : parseInt(stock);
  
          console.log("Parsed Stock:", stock); // Add this line for debugging
  
          let quantity = parseInt(qty.text()) + delta;
  
          console.log("New Quantity:", quantity); // Add this line for debugging
  
          if (quantity > 0 && quantity <= stock) {
              qty.text(quantity);
              let price = parseFloat(parent.find('.price').text());
              let total = parent.find('.total-price');
              total.text((price * quantity).toFixed(2));
  
              updateQuantityInCart(productId, quantity);
          } else {
              if (quantity <= 0) {
                  qty.text("1");
              } else {
                  Swal.fire({
                      icon: 'info',
                      title: 'Max Qty is ' + stock,
                      showConfirmButton: true,
                  });
                  qty.text(stock); // Set the quantity to the maximum allowed (stock)
              }
          }
  
          updateTotalPriceSum();
      }
  
      function updateQuantityInCart(productId, quantity) {
    // Implement your AJAX request to update the cart on the server
    $.ajax({
        url: "/updatecart",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({ productId, quantity }),
        success: function (response) {
            console.log("Server response:", response);

            // After updating on the server, update the total price sum on the client side
            updateTotalPriceSum();
        },
        error: function (error) {
            console.error("Error updating quantity in cart:", error);
        },
    });
}

  
      function updateTotalPriceSum() {
          let sum = 0;
          $(".incrementdecrement").each(function () {
              const price = parseFloat($(this).find('.price').text());
              const quantity = parseInt($(this).find('.inputQuantity').text(), 10);
              sum += price * quantity;
          });
          $(".total-price-sum").text("Rs." + sum.toFixed(2));
      }
  </script>
  
  
  

  </body>
</html>
